@{
    ViewData["Title"] = "Text to Sat converter";
}
<div class="text-center">
    <h2 class="display-4">Paste your text below!</h2>
    <form asp-action="GeneratePdf" asp-controller="Home">
        <div class="textarea_wrapper">
            <input type="text" name="text" id="text" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary" id="generatePdfBtn">Convert</button>
        </div>
    </form>
</div>

